.book-index {
    font-family: 'Georgia', serif;
    background-color: #f7f0e3;
    color: #4a3b2f;
    padding: 20px;
}

.addButton{
	display: grid;
	place-items: center;
}

.addButton button{
	width: 100px;
	background-color: #6b4226;
    color: #ffffff;
}

.book-list{
	list-style: none;
    padding: 15px 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.book-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding-block: 0.2em;
	text-align: center;
	color: #6b4226;
}

.book-filter {
    margin-block: .5em;
	background-color: #e9dbc7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
	color: #6b4226;
    
}

.book-filter form {
    display: grid;
    grid-template-columns: 100px 200px;
    gap: .3em;
}

.book-filter form button {
    margin-inline: 0;
}

.range-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.book-preview img {
    width: 200;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.book-list button,
.book-filter form button{
    background-color: #6b4226;
    color: #ffffff;
    border: none;
    padding: 10px ;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.book-list button:hover,
.addButton button:hover,
.book-filter form button:hover {
    background-color: #8a5c3d;
}

.book-list a {
    text-decoration: none;
    color: inherit;
}